<!DOCTYPE html>
<html>
    <head>

        <!-- Meta Tags -->
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="description" content="Edunguru" />
        <meta name="keywords" content="academy, course, education, education, elearning, learning, Edunguru" />
        <meta name="author" content="Infini Systems" />

        <!-- Page Title -->
        <title>EdunGuru | Content Viewing App</title>

        <link href="assets/img/edu-favicon.png" rel="shortcut icon" type="image/png">
        <link type='text/css' href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600' rel='stylesheet'>
        <link type="text/css" href="assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">       
        <link type="text/css" href="assets/fonts/themify-icons/themify-icons.css" rel="stylesheet">              
        <link type="text/css" href="assets/css/styles.css" rel="stylesheet">                                    
        <link type="text/css" href="assets/plugins/codeprettifier/prettify.css" rel="stylesheet">               
        <link type="text/css" href="assets/plugins/iCheck/skins/minimal/blue.css" rel="stylesheet">            
        <link type="text/css" href="assets/plugins/fullcalendar/fullcalendar.css" rel="stylesheet"> 						<!-- FullCalendar -->
        <link type="text/css" href="assets/plugins/jvectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet"> 			<!-- 							<!-- Switchery -->
        <style>
            li.toolbar-icon-bg {
                line-height: 50px;
                padding: 0px 20px;
            }
            span.icon-bg i {
                font-size: 15px;
            }
        </style>
        <script src="assets/js/loader.js"></script>
        <script>window.$ = window.jQuery = require('./assets/js/jquery-1.10.2.min.js');</script>
        <script src="assets/js/jqueryui-1.10.3.min.js"></script> 							
        <script src="assets/js/bootstrap.min.js"></script> 									
        <script> window.enquire = require('./assets/js/enquire.min.js');</script>									
        <script src="assets/plugins/velocityjs/velocity.min.js"></script>					
        <script src="assets/plugins/velocityjs/velocity.ui.min.js"></script>
        <script src="assets/plugins/wijets/wijets.js"></script>     						
        <script src="assets/plugins/codeprettifier/prettify.js"></script> 				
        <script src="assets/plugins/bootstrap-switch/bootstrap-switch.js"></script> 		
        <script src="assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>  
        <script src="assets/plugins/iCheck/icheck.min.js"></script>     					
        <script src="assets/plugins/nanoScroller/js/jquery.nanoscroller.min.js"></script> 
        <script src="assets/js/application.js"></script>

        <script src="assets/js/angular/angular.min.js"></script>
        <script src="assets/js/app.js"></script>



    </head>
    <body class="animated-content" ng-app="EdunGuru">
        <div id="load"></div>
        <header id="topnav" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="logo-area">
                <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg">
                    <a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
                        <span class="icon-bg">
                            <i class="ti ti-menu"></i>
                        </span>
                    </a>
                </span>

                <a class="navbar-brand" href="#"></a>
            </div><!-- logo-area -->

            <ul class="nav navbar-nav toolbar pull-right">
                <li class="toolbar-icon-bg">
                    <a href="index.html">&laquo; Back</a>
                </li>
            </ul>
        </header>

        <div id="wrapper">
            <div id="layout-static">
                <div class="static-sidebar-wrapper sidebar-default">
                    <div class="static-sidebar">
                        <div class="sidebar">

                            <div class="widget stay-on-collapse" id="widget-sidebar">
                                <nav role="navigation" class="widget-body">
                                    <ul class="acc-menu">
                                        <li><a href="index.html"><i class="fa fa-home"></i><span> Home</span></a></li>
                                        <li id='refresh'><a href="#"><i class="fa fa-refresh"></i><span> Refresh</span></a></li>
                                        <li id='exit'><a href="#"><i class="fa fa-times"></i><span> Exit</span></a></li>
                                    </ul>
                                </nav>
                            </div>


                        </div>
                    </div>
                </div>


                <div class="static-content-wrapper" ng-controller="chapterCtrl">
                    <div class="static-content">
                        <div class="page-content">
                            <ol class="breadcrumb">

                                <li class=""><a href="index.html">Home</a></li>
                                <li class="active"><a href="javascript:void();">{{ course}}</a></li>

                            </ol>
                            <div class="container-fluid">


                                <div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel">
                                                <div class="panel-body">
                                                    <div class="course-detail-box">
                                                        <div class="course-det-img">


                                                            <img ng-src='{{nwDir + "/thumbnails/" + (icon != "" ? icon : "default-course.jpg")}}' class="img-responsive"/>
                                                        </div>
                                                        <div class="course-det-info">
                                                            <h4>{{ course}}</h4>
                                                            <h5>Chapters ({{ chapters.length}})</h5>
                                                            <p class="fnt-bold">Valid Upto: <span class="fnt-normal">{{ validity}}</span></p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel">

                                                <div class="panel-body paddtopbottom0">
                                                    <div class="row border-bottom-dott" ng-repeat='(k,chapter) in chapters '>
                                                        <div class="col-md-12 pd15"  >
                                                            <div class="chapter-detail-holder">
                                                                <div class="ch-number">
                                                                    <span>{{ k + 1}}</span>
                                                                </div>
                                                                <div class="ch-info p15 pt-0 pb-0">
                                                                    <h4 class="fnt-bold marbot-10">{{chapter.title}}     
                                                                        <a ng-if="chapter.unlockKey == ''" href="topics.html?course={{course}}&chapter={{chapter.title}}&index={{$index}}&courseIndex={{index}}" class="btn btn-default-alt pull-right studybtn-pos">Study</a>
                                                                        <a ng-if="chapter.unlockKey != ''" ng-click="unlock($event, chapter.unlockKey, 'topics.html?course=' + course + '&chapter=' + chapter.title + '&index=' + $index + '&courseIndex=' + index,index,$index)" href="#" class="btn btn-default-alt pull-right studybtn-pos">Unlock</a> 

                                                                    </h4> 
                                                                    <span class=""><i class="fa fa-play-circle" aria-hidden="true"></i> Topics ({{ chapter.topics.length}})</span>
                                                                </div>

                                                            </div>



                                                        </div>

                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                    </div>


                                </div>


                            </div> <!-- .container-fluid -->
                        </div> <!-- #page-content -->
                    </div>




                </div>

                <ng-include src=" 'includes/footer.html' "></ng-include>
            </div>
        </div>


    </body>
</html>
